/*
|--------------------------------------------------------------------------
| Alerts system
|--------------------------------------------------------------------------
|
*/

.alert {
    padding: 0;
}

#main-alert {
    position: relative;
    z-index: 900;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 7px;
    border-top: none;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    .container {
        position: relative;
        
        button {
            position: absolute;
            top: 0;
            right: 25px;
        }
    }
    
    p {
        padding-right: 35px;
    }
}

/*
|--------------------------------------------------------------------------
| Login
|--------------------------------------------------------------------------
|
*/

body.login {
    
    .master {
        max-width: 600px;
        margin-top: 30px;
    }
}

/*
|--------------------------------------------------------------------------
| Items table
|--------------------------------------------------------------------------
|
*/

table {
    
    tr {

        th,
        td {
            min-width: 90px;
        }

        td {
            padding-left: 0;
            padding-right: 0;

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #666;

                &:hover,
                &:active {
                    color: #666;
                    text-decoration: none;
                }
            }
        }
    }
}

/*
|--------------------------------------------------------------------------
| Nav bar
|--------------------------------------------------------------------------
|
*/

.navbar {
    border-top: none;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.03);
}

/*
|--------------------------------------------------------------------------
| TinyMCE
|--------------------------------------------------------------------------
|
*/

.form-group {

    .mce-tinymce {
        border-radius: 4px;
    }

    .mce-panel {
        border-color: #ccc;
    }

    .mce-toolbar-grp {
        background: #f0f0f0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .mce-btn {
        background: none;
    
        &:hover {
            background: darken(#f0f0f0, 10%);
        }
    }

    .mce-menubtn {
        
        button {
            padding: 2px 10px;
        }
    }

    .mce-edit-area,
    .mce-edit-area iframe {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

/*
|--------------------------------------------------------------------------
| Inputs
|--------------------------------------------------------------------------
|
*/

.editable-html {
    font-size: 0.75em;
    font-family: Monaco, monospace;
    white-space: pre;
}

/*
|--------------------------------------------------------------------------
| Misc elements
|--------------------------------------------------------------------------
|
*/

.page-header {
    position: relative;
    padding-right: 82px;

    &.first {
        margin-top: 5px;
    }
}

.bottom-buttons {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.btn-title {
    position: absolute;
    top: 4px;
    right: 0;
}

.btn-outside {
    position: relative;
    top: -15px;
    margin-left: 25px;
}

.tab-pane {
    display: none;

    &.active {
        display: block;
    }
}