/*
|--------------------------------------------------------------------------
| Breadcrumbs
|--------------------------------------------------------------------------
|
*/

.breadcrumb {
    margin-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    background-color: $body-bg;
}
