/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/

.btn-default {
    background-color: $body-bg;
}

.btn {
    transition: 95ms ease-in-out;

    &:focus {
        outline: none;
    }

    @keyframes loading {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes grow-circle {
        0% {
            transform: rotate(360deg);
        }
        33% {
            border-top: 2px solid;
        }
        66% {
            border: 2px solid;
            border-bottom: 0;
        }
        100% {
            border: 2px solid;
        }
    }

    @keyframes checkmark {
        to {
            opacity: 1;
            top: 0.7em;
        }
    }

    @keyframes checkmark-icon {
        to {
            opacity: 1;
            top: $icon-proportion * .7em;
        }
    }

    &.loading {
        position: relative;
        padding-right: 2em;
        min-width: 24px;
        min-height: 24px;

        &:after {
            content: '';
            position: absolute;
            top: 0.8em;
            right: 0.35em;
            width: 1em;
            height: 1em;
            margin-top: -2px;
            border: 3px dotted rgba(255,255,255,0.6);
            border-top-color: rgba(255,255,255,1);
            border-radius: 50%;
            animation: loading .9s linear infinite;
        }
    }

    &.success {
        position: relative;
        padding-right: 2em;
        min-width: 24px;
        min-height: 24px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0.5em;
            right: 0.25em;
            width: 1.25em;
            height: 1.25em;
            border-radius: 100%;
            border-color: #fff;
            border: 0;
            transition: 500ms ease-in;
            animation: grow-circle .5s ease-out 0.1s forwards;
            animation-iteration-count: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0.7em;
            top: 0.95em;
            width: 0.4em;
            height: 0.6em;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            opacity: 0;
            animation: checkmark .3s ease .25s forwards;
            animation-iteration-count: 1;
        }
    }

    &.btn-default {

        &.loading {

            &:after {
                border-color: darken($body-bg, 30%);
                border-top-color: darken($body-bg, 60%);
            }
        }

        &.success {

            &:before,
            &:after {
                border-color: darken($body-bg, 60%);
            }
        }
    }

    &.btn-icon {
        font-size: $icon-proportion+1em;
        line-height: 21px;

        &.loading {
            padding-right: $icon-proportion*2em;

            &:after {
                top: $icon-proportion*0.8em;
                right: $icon-proportion*0.35em;
                width: $icon-proportion*1em;
                height: $icon-proportion*1em;
            }
        }

        &.success {
            padding-right: $icon-proportion*2em;

            &:before {
                top: $icon-proportion*0.5em;
                right: $icon-proportion*0.25em;
                width: $icon-proportion*1.25em;
                height: $icon-proportion*1.25em;
            }

            &:after {
                right: $icon-proportion*0.7em;
                top: $icon-proportion*0.95em;
                width: $icon-proportion*0.4em;
                height: $icon-proportion*0.6em;
                animation-name: checkmark-icon;
            }
        }

        &.btn-muted {
            color: #bbb;
        }
    }
}

.add-new {
    margin-left: 5px;
}

.export-dropdown-menu {

    @media (min-width: $screen-sm-min) {
        left: auto;
        right: 0;
    }
}

/*
|--------------------------------------------------------------------------
| Title buttons
|--------------------------------------------------------------------------
|
*/

.title-btn {
    position: relative;
    top: 5px;
    height: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 20px;
    cursor: pointer;
    color: #bbb;
    font-size: 23px;
    line-height: 31px;
    text-align: center;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #999;
        border-color: #999;
        box-shadow: 0 0 0 2px transparentize($brand-primary, .75);
        outline: none;
    }

    &.active {
        color: #fff;
        border-color: #337ab7;
        background-color: #337ab7;
    }
}
