/*
|--------------------------------------------------------------------------
| Tooltips
|--------------------------------------------------------------------------
|
*/

.tooltip {
    white-space: nowrap;
}
